.link-footer {
    display: block;
}

.tab-menu-round {
    opacity: 0;
    max-height: 0px;
    transition: all 0.5s
}

.tab-menu-round-open {
    opacity: 1;
    max-height: 500px;
}

.faq-content {
    max-height: 0px;
    transition: max-height 0.5s;
}

.faq-question-open {
    max-height: 400px;
}

.lien_alergenes,
.lien_carte {
    cursor: pointer;
}

.page-2 {
    height: 0px;
}

.page-2-open {
    height: auto;
}

.slide-1 {
    min-width: 100vw;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.51)), to(rgba(0, 0, 0, 0.32))), url('/images/photo.jpeg');
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.32)), url('/images/photo.jpeg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
}

@media screen and (max-width: 991px) {
    .nav-menu {
        position: absolute;
        top: 85px;
        left: 0;
    }
}

.w-nav-button-open {
    display: block !important;
}

.w-radio input[type='radio']:checked + .radio-retrait {
    border-color: #ff8946;
    background-color: #ff5c00;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-right-width: 4px;
}

.w-dropdown {
    z-index: auto;
}

/* Cookies block [CHECK WITH DESIGNER] */
.div-block-cookies {
    z-index: 9999;
}

/* Clickable area outside the cart to close it */
.w-commerce-commerceoutcartcontainer {
    width: 100%;
}

@media screen and (max-width: 991px) {
    .w-commerce-commerceoutcartcontainer {
        width: 0px;
    }
}

/* Input or button disabled style [CHECK WITH DESIGNER] */
input:disabled, button:disabled { opacity: 0.5; }

/* Submit button in account/informations page [CHECK WITH DESIGNER] */
.submit-button-tunnel { width: 100%; }

/* Newsletter button [CHECK WITH DESIGNER] */
.submit-button-newsletter { align-items: center; }

/* Account page [CHECK WITH DESIGNER] */
.tab-pane-wrap-account { width: 900px; }
.tab-menu-round-account {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Button expand (+) in account/orders page */
.tab-pane-wrap-account .plus-2 {
    opacity: 0.5;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.tab-pane-wrap-account .plus-2-active {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
}

/* Top banner hide in mobile... [CHECK WITH DESIGNER] */
@media screen and (max-width: 479px) {
  .banner {
    display: block;
  }
}

/* Languages block [CHECK WITH DESIGNER] */
.div-block-lang {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.div-block-lang button {
    background-color: unset;
}

.div-block-lang button:hover,
.div-block-lang button.selected {
    background-color: #ff8946;
    color: white;
}

/* Toasts */
.w-commerce-commerceerror {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffdede;
}
.w-commerce-commercewarn {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff3de;
}
.w-commerce-commerceinfo {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #deffe8;
}